export OMRS_CONFIG_CONNECTION_DATABASE=$(vault kv get -mount=secret -field=omrs-config-connection-database-key omrs-config-connection-database)
export OMRS_CONFIG_CONNECTION_USERNAME=$(vault kv get -mount=secret -field=omrs-config-connection-username-key omrs-config-connection-username)
export OMRS_CONFIG_CONNECTION_PASSWORD=$(vault kv get -mount=secret -field=omrs-config-connection-password-key omrs-config-connection-password)
export OMRS_MYSQL_DATABASE=$(vault kv get -mount=secret -field=OMRS_mysql-database-key OMRS_mysql-database)
export OMRS_MYSQL_USER=$(vault kv get -mount=secret -field=OMRS_mysql-user-key OMRS_mysql-user)
export OMRS_MYSQL_PASSWORD=$(vault kv get -mount=secret -field=OMRS_mysql-password-key OMRS_mysql-password)
export OMRS_MYSQL_ROOT_PASSWORD=$(vault kv get -mount=secret -field=OMRS_mysql-root-password-key mysql-root-password)